<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li class="marker active" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"></li>
    <li class="marker" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li class="marker" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/carousel 1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/carousel 2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/carousel 3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<h1 class="h1"> <b><i>Our Other Services</i></b></h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-6">
      <div class="abc pointer-cursor" (click)="redirectToPage(1)">
        <img src="../../../assets/card 1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Thumbnail Designing</h5>
          <p class="card-text">Designing YouTube thumbnails: Grab attention, communicate value, and drive clicks with
            captivating visuals and concise messaging.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <div class="abc pointer-cursor" (click)="redirectToPage(2)">
        <img src="../../../assets/card 2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Podcast Making</h5>
          <p class="card-text">Podcast creation: Crafting compelling content, engaging storytelling, and impactful
            conversations to captivate audiences worldwide.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <div class="abc pointer-cursor" (click)="redirectToPage(3)">
        <img src="../../../assets/card 3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Search Optimization</h5>
          <p class="card-text">
            "Unlock the power of video search optimization: Boost visibility, attract audiences, and elevate your
            content's discoverability with strategic keywords, metadata, and engagement tactics."</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <div class="abc pointer-cursor"(click)="redirectToPage(4)">
        <img src="../../../assets/card 4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Channel Designing</h5>
          <p class="card-text">Unlock the full potential of your YouTube channel with strategic design: from
            eye-catching banners to compelling thumbnails, ensuring every pixel enhances your brand's story and
            captivates your audience.
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <div class="abc pointer-cursor"(click)="redirectToPage(5)">
        <img src="../../../assets/card 5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Video Editing T.</h5>
          <p class="card-text">Video editing mastery: Transforming raw footage into captivating stories with precision,
            creativity, and seamless transitions.
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <div class="abc pointer-cursor"(click)="redirectToPage(6)">
        <img src="../../../assets/card-6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Youtube Manager</h5>
          <p class="card-text">From scheduling posts to analyzing data, a YouTube manager unlocks growth for your
            channel.Consider a YouTube manager if you want to save time, refine your strategy, and build a thriving
            YouTube presence.
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>