<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">
  <footer>
    <div class="p-6">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="footer-logo-detail">
            <img class="footer-logo" src="../../../assets/header logo.jpg" alt="footer logo">
            <h5 class="text-white">Youtube Vanced</h5>
          </div>
          <p>
            We are a small business dedicated to helping clients enhance their digital presence through beautifully
            designed thumbnails and high-quality stock videos. Our creative team works closely with you to understand
            your vision and deliver customized visuals that captivate and engage your audience.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-white">Links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="/review">Comments</a>
            </li>
            <li class="mb-1">
              <a href="#">Classes</a>
            </li>
            <li class="mb-1">
              <a href="#">Pricing</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-white">Contact Us:</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <span>Phone: +91 9724516312</span>
            </li>
            <li class="mb-1">
              <a href="mailto:Rishimohinani2005@gmail.com" class="email-button">rishimohinani2005@gmail.com</a>
            </li>
            <li class="mb-1 text-white">
              <h5>Location:</h5>
              <a href="https://maps.app.goo.gl/ohXZQKqDb6RXjXQv6" class="navigation-button">Click Here To Open The Goggle Maps</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
      2024 Copyright:
      <a class="text-white" href="#">YouTube-com</a>
    </div>
  </footer>
</div>